* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#nav-inter{
    height: 100px;
    width: 100%;
    padding: 100px auto;
    background-color: white;
    table-layout: auto;
}
.boton-nav-inter{
color: black;
font-family: Helvetica;
text-align: justify;
padding: 20px;
margin: 0px auto;
width: max-content;
font-weight: bold;
text-decoration: none;
font-size: 40px;
display: flex;
border: 3px solid black;
border-radius: 30px;
}
.boton-nav-inter:hover{
    background-color: black;
    color: white;
}
#logo-nav-inter:hover{
    background-color: aqua;
    border-color: white;
}
body{
    background-color: blue;
}
#bienvenida{
    background: url(./Repository/FPrinciHeader.jpeg) center center;
    background-size: cover;
    width: 100%;
    min-height: 300px;
}
#bienvenida *{
 color: white;
 background-color: darkblue;
 padding: 10px;
 margin: 0px auto 30px;
 width: max-content;
 text-align: center;
 border-radius: 30px;
 position: relative;
 top: 50px;
}
main{
    color: white;
    font-family: 'Times New Roman';
}
main h1{
    text-align: center;
    font-size: 50px;
}
main h2{
    text-align: center;
    font-size: 40px;
}
main h3{
    font-size: 30px;
    margin: 30px;
}
ul li{
    margin: 20px;
    font-size: 25px;
}
ul li ul li{
    margin-left: 40px;
    font-size: 25px;
}
main a{
    color: yellow;

}
main p{
    font-size: 20px;
}