* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#nav-inter{
    height: 100px;
    width: 100%;
    padding: 100px auto;
    background-color: white;
    table-layout: auto;
}
.boton-nav-inter{
color: black;
font-family: Helvetica;
text-align: justify;
padding: 20px;
margin: 0px auto;
font-weight: bold;
text-decoration: none;
font-size: 40px;
display: flex;
border: 3px solid black;
border-radius: 30px;
}
.boton-nav-inter:hover{
    background-color: black;
    color: white;
}
#logo-nav-inter:hover{
    background-color: aqua;
    border-color: white;
}