body{
    background-color: rgb(150, 150, 255);
}
.titulo{
    height: 500px;
    background: url(Call\ center.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.titulo::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 500px;
    width: 100%;
}
.titulo h1{
    position: relative;
    z-index: 3;
    margin-top: 0;
    padding: 30px;
}
h1{
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
    font-size: 60px;
}
h2{
    margin: 40px;
    font-size: 30px;
}
form{
    text-align: center;
    
}
