* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
#nav-inter{
    height: 70px;
    width: 100%;
    padding: 100px auto;
    background-color: white;
    table-layout: auto;
    position: fixed;
    z-index: 20;
}
#nav-inter td{
    border-right: 1px solid rgb(128, 128, 128);
}
#nav-inter tr td:last-child{
    border-right: 0 transparent;
}
#nav-inter tr td:hover{
    background-color: black;
    color: white;
}
#nav-inter tr td:hover > a{
    color: white;
} 
#nav-inter tr #logo-nav-inter:hover{
    background-color: aqua;
} 
#fix-nav{
    height: 70px;
}
.boton-nav-inter{
color: black;
font-family: Helvetica;
text-align: center;
padding: 20px;
margin: 0px auto;
width: min-content;
font-weight: bold;
text-decoration: none;
font-size: 25px;
display: flex;
/*border: 3px solid black;*/
border-radius: 30px;
}
/*.boton-nav-inter:hover{
    background-color: black;
    color: white;
}*/
/*#logo-nav-inter:hover{
    background-color: aqua;
    border-color: white;
}*/