#bola{
    position: absolute;
    transition: 1s;
background-color: red;
padding: 40px;
top: 60%;
left: 80%;
border-radius: 40px;
}
#UI{
    background-color: lightblue;
    width: 30%;
    border-right: 3px solid black;
    float: left;
}
#UI *{
    text-align: center;
    margin: auto;
}
#move{
    padding: 20px;
    border-radius: 5px;
    background-color: gray;
    width: max-content;

}