body{
    background: url("./_617c9f00-d3f4-4529-a9f1-beda436f55f5.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    border: 10px solid aquamarine;
    background-color: lightblue;
    border-radius: 10px;
    margin: 30px;
    min-height: 1000px;
    }
main *{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
input{
    border-radius: 30px;
    border: rgb(10, 20, 60) solid 5px;
}
input > *{
    color: darkblue;
}
footer{
    height: 500px;
    background-color: black;
    padding: 30px;
}
footer *{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}