body{
    background-color: rgb(230, 230, 255);
}
header{
    background-color: rgb(85, 215, 255);
    display: flex;
    align-items: stretch;
    overflow: hidden;
}
#hImage{
    background: url(hexagono.png) center center;
    background-size: cover;
    margin: auto;
    text-align: center;
    width: 700px;
    height: 700px;
    position: relative;
    z-index: 10;
}
#hImage h1{
    text-align: center;
    padding-top: 300px;
    font-size: 50px;
    font-family: 'Courier New', sans;
}
#hImage h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', sans;
}
#zona-movimiento{
    position: absolute;
    min-height: 500px;
    width: 100%;
    top: 100px;
}
.cuadrado{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: lightblue;
    animation: ease;
    transition: 20s;
}
.puntos{
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}
#quienes{
    background-color: rgb(87, 111, 219);
    padding: 60px;
    text-align: center;
}
#quienes h1{
    text-align: center;
    font-size: 50px;
    font-family: Garamond, "Book Antiqua", serif;
}
#quienes p{
    text-align: center;
    font-size: 40px;
    font-family: Garamond, "Book Antiqua", serif;
}
#servicios{
    background-color: rgba(87, 111, 219, 0.712);
    text-align: center;
    padding: 40px;
}
#mover{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
#mover *{
    display: inline-block;
}
#mover > ul{
    width: min-content;
    height: min-content;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
}
#mover > ul > li{
    width: min-content;
    height: min-content;
    padding: 20px;
}
#mover > ul > li > figure > img{
    border-radius: 20px;
}
#mover > ul > li > figure > figcaption{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
#bi, #bd{
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
}
footer{
    height: 500px;
    background-color: black;
    padding: 30px;
}
footer *{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}